body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer {
    font-family: 'Bangers';
    list-style: none;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
    background-color: 	#00BFFF;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline-block;
    text-align: center;
    float: left;
}
a {
    text-decoration: none;
    color: 	#20B2AA;
}
nav ul li a:hover {
    cursor: pointer;
    background-color: #87CEFA;
}
h1, h3 {
    font-family: 'Bangers';
    color: #20B2AA;
}
p {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
}
footer {
    text-align: center;
    margin: 3px;
}
img.footer_img { 
    width: 55px;
    height: 55px;    
}

nav ul li a {
    display: block;
    color: #008080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
