<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Pàgina d'inici</a></li>
		        	<li><a href="/personal">Informació personal</a></li>
				<li><a href="/experiencia">Experiència laboral</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<a target="_blank" href="mailto:adridavila1997@gmail.com"><img class="footer_img"src=/images/gmail.png></a>
	        	<a target="_blank" href="https://github.com/isx48102233"><img class="footer_img" src=/images/github.png></a>
			<a target="_blank" href="https://gitlab.com/isx48102233"><img class="footer_img" src=/images/gitlab.png></a>
			<a target="_blank" href="https://www.twitter.com/xdri97"><img class="footer_img" src=/images/twitter.png></a>
			<a target="_blank" href="https://www.instagram.com/xdri97"><img class="footer_img" src=/images/insta.png></a>
			</footer>
		</body>
	</html>
